/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* *{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1.4;
}


/*---------------content----------------------*/

.content{
	max-width: 1100px;
	width: 100%;
	font-weight: 600;
}
.con-left{
	float: left;
	width: 30%;
	font-size: 14.4px;
}
.con-left li{
	display: inline-block;
	width: 95%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.con-left li img{
	width: 120px;
	height: 80px;
	float: left;
	margin-right: 10px;
}
.con-left li:hover{
	color: #006BA0;
}
.con-left li:nth-child(5){
	border-bottom: none;
}
.con-right{
	width: 70%;
	float: right;
}
.con-right li{
	width: 32%;
	display: inline-block;
	margin-bottom: 25px;
}
.con-right li:first-child{
	width: 65%;
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
}
.con-right img{
	width: 100%;
}
.con-right li:first-child img{
	width: 100%;
}
.con-right li:first-child h2{
	font-size: 32px;
    line-height: 1.2;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
}
.con-right li:first-child p{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
}
.con-right li:first-child span::before{
	content: '•';
	margin-right: 10px;
}
/*=====*/
@media only screen and (max-width: 992px){
	.widget{
		display: none;
	}
	.content{
		width: 100%;
    	padding: 30px 10px 0 10px;
	}
	.con-left{
		float: right;
		width: 39%;
	}
	.con-right {
		width: 57%;
		float: left;
	}
	.con-right li{
		width: 100%;
	}
	.con-right li:first-child{
		width: 100%;
	}
	.con-right li:first-child img{
		width: 100%;
	}
	.con-right li:first-child h2{
		font-size: 28px;
	}
	.con-right li:nth-child(n+2) img{
		display: none;
	}
	.con-right li:nth-child(n+2) p{
		font-size: 23px;
		border-top: 1px solid #ddd;
	}
	.con-right li:first-child p{
		display: none;
	}
	.con-right li:first-child span{
		display: none;
	}

}
@media only screen and (max-width: 700px){
	.widget{
		display: none;
	}
	.content{
		width: 100%;
		padding: 20px 0 0 0;
		display: inline-block;
	}
	.con-left{
		width: 100%;
		border-top: 5px solid #888;
		padding-top: 30px;
	}
	.con-left li{
		width: 100%;
	}
	.con-right {
		width: 100%;
	}

}
